{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-fragments": 0,
    "react/jsx-handler-names": 0
  },

  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      },
      "rules": { }
    }
  ]
}
